.arrow {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  
}

.arrow--right {
  right: 5px;
}

.wrapper {
  position: relative;
}

.keen-slider {
  transition: height 0.4s;
}

.keen-slider img{
  width: 100%;

}

.textDiv {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .2rem .6rem;
  background-color:white;
  border-radius: 0.5rem;
}