.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.cards {
  text-align: left;

  background: white;
  border-radius: 0.2rem;
  background-color: lightgoldenrodyellow;
}

.card {
  padding-left: 1rem;
}

.tipo {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  margin-top: .1rem;
}

.rua {
  font-size: 1.5rem;
  font-weight: 700;
}

.bairroCidade {
  font-size: 1.2rem;
  color: gray;
}

.caracteristicas {
  font-size: 1.2rem;
  margin-block: 0.3rem;
  color: gray;
}

.condMaisIptu {
  font-size: 1.2rem;
  font-weight: 500;
  color: gray;
}

.preco {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .4rem;
}
